.videoLayout {
    display: flex;
    background-color: #010101;
    inset: 0;
    position: fixed;
    z-index: 999999;
}

.commentContainer {
    background-color: var(--white);
    display: flex;
    flex: 0 0 544px;
    flex-direction: column;
}

.commentHeader {
    // border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    padding: 32px 32px 0;
    position: relative;
    z-index: 10;
}

.userInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.linkUserInfo {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    flex-shrink: 0;
    height: 40px;
    margin-right: 12px;
    object-fit: cover;
    width: 40px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
}

.nickname {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25px;
}

.name {
    font-size: 1.4rem;
    line-height: 20px;
}

.videoName {
    font-weight: 400;
}

.videoMusic {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
    margin-top: 10px;
}

.musicIcon {
    margin-right: 6px;
    display: flex;
    align-items: center;
}

.contactToUser {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
}

.userVideoLink {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    overflow: hidden;
}

.videoLink {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    padding: 7px 0px 5px 12px;
    background-color: rgba(22, 24, 35, 0.06);
}

.browserCopy {
    border: none;
    background: none rgba(22, 24, 35, 0.06);
    outline: none;
    color: rgb(22, 24, 35);
    font-weight: 700;
    flex: 0 0 auto;
    cursor: pointer;
    padding: 7px 18px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.commentBody {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-top: none;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    padding-top: 24px;
    width: 100%;
    overflow: hidden auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    padding: 0px 32px 24px;
}

.content {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.commentFooter {
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    margin: 0px 30px;
    padding: 21px 0px;
}

.footerContainer {
    display: flex;
}

.textContainer {
    flex: 1 1 auto;
}

.text {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgba(22, 24, 35, 0.06);
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0px 9px;

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.textCenter {
    flex: 1 1 auto;
    height: auto;
    margin: 10px 8px 10px 0px;
}

.textStyle {
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: var(--primary);
    color: var(--text-color);
    display: block;
    overflow-y: hidden;
    padding: 1px 0;
    resize: none;
    width: calc(100% - 40px);
    height: 18px;
    font-family: var(--font-family);
    overflow: auto;
}

.emotionIcon,
.atSignIcon {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.postBtn {
    color: rgba(22, 24, 35, 0.34);
    font-weight: 600;
    cursor: default;
    flex: 0 0 48px;
    font-size: 14px;
    line-height: 39px;
    text-align: right;
    margin-right: 4px;
}

// Tippy css
.deleteContainer {
    min-width: 200px;
    position: relative;
}

.arrow {
    top: -27px;
    right: 3px;
    position: absolute;
    border-width: 17px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white);
}

.noPadding {
    padding: 0;
}

.itemList {
    padding: 8px 16px;
    list-style: none;
}

.title {
    padding: 13px;
    font-size: 16px;
    font-weight: 600;
    &:first-child {
        border-bottom: 1px solid rgba(22, 24, 35, 0.1);
    }
    &:hover {
        color: var(--primary);
        cursor: pointer;
    }
}
