.modal-container {
    padding-top: 48px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.close-btn {
    transform: scale(1.7);
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: rgba(22, 24, 35, 0.03);
}

.modal-body-login,
.modal-body-signup {
    max-height: 519px;
    flex: 1 1 0%;
    overflow: auto;
    // position: relative;
}

// .modalMenu {
// }

.agreeing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 30px;
}

.agreeing-content {
    color: rgba(22, 24, 35, 0.5);
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    width: 375px;
    text-align: center;
    a {
        color: rgb(22, 24, 35);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.more {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.more-btn {
    background-color: transparent;
    scale: 1.5;
    cursor: pointer;
}

.title {
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 32px;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

.register-btn {
    margin-left: 8px;
    width: 375px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 16px;
}

.modal-footer {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 1.5rem;
    line-height: 18px;

    .footer-link {
        margin-left: 5px;
        font-weight: 600;
        line-height: 18px;
        color: var(--primary);
        &:hover {
            text-decoration: underline;
        }
    }
}

.header {
    top: 15px;
    left: 2px;
    position: absolute;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}
