.modal-container {
    padding-top: 48px;
}

.close-btn {
    transform: scale(1.7);
    position: absolute;
    top: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    right: 24px;
    width: 24px;
    height: 24px;
    background: rgba(22, 24, 35, 0.03);
}

.modal-body {
    height: 581px;
    flex: 1 1 0%;
    overflow: auto;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 32px;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

.register-btn {
    margin-left: 8px;
    width: 375px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 16px;
}

.modal-footer {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 1.5rem;
    line-height: 18px;

    .footer-link {
        margin-left: 5px;
        font-weight: 600;
        line-height: 18px;
        color: var(--primary);
    }
}

.header {
    top: 12px;
    left: 2px;
    position: absolute;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

.header-title {
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 32px;
    margin: 16px auto;
    font-weight: bold;
    text-align: center;
}

.form-input {
    width: 375px;
}

.login-qr {
    width: 375px;
}

.qr-container {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}

.text-container {
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qr-image {
    height: 180px;
    width: 180px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgb(242, 242, 242);
}

.step-container {
    width: 100%;
    margin-top: 24px;
}

.tiktok-step {
    color: rgb(22, 24, 35);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
}

.phone-image {
    margin-inline-start: 20px;
    height: 270px;
}

.login-btn {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: ProximaNova, PingFangSC, sans-serif;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-top: 21px;
}

.disabled-btn {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    pointer-events: none;
}
