.home-page {
    margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0;
}

@media screen and (max-width: 1071px) {
    .home-page {
        width: 592px;
        max-width: 592px;
    }
}
