.profile-header {
    margin-bottom: 20px;
}
.header {
    display: flex;
}

.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
}

.title-container {
    margin-left: 20px;
}

.nickname {
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.follow-btn {
    margin-top: 16px;
}

.check {
    font-size: 2rem;
    color: #20d5ec;
    margin-left: 4px;
}

.body {
    margin-top: 22px;
}

.analytics {
    display: flex;
    margin-bottom: 10px;
}

.item {
    margin-right: 20px;
}

.value {
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.label {
    color: rgba(22, 24, 35, 0.75);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 6px;
}
