.wrapper {
    width: var(--sidebar-width);
    padding: 20px 0 26px 20px;
    margin-left: -18px;
    padding-right: 10px;
}

.sidebar {
    max-height: calc(100% - 60px);
    overflow-y: overlay;
    padding-bottom: 20px;
    position: fixed;

    &::-webkit-scrollbar {
        display: none;
    }
    &:hover {
        &::-webkit-scrollbar {
            display: block;
        }
    }
}

.login-sidebar {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e3e3e4;
    position: relative;
    padding: 20px 8px 24px 8px;
    margin: 0;
}

.title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
}

.login-btn {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 20px;
}

@media screen and (max-width: 1071px) {
    .wrapper {
        padding: 20px 8px 0 16px;
        width: 90px;
        border-right: 1px solid rgba(22, 24, 35, 0.12);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    }
    .sidebar {
        min-height: 100%;
    }
}
